web:
    hooks:
        mailChimp:
            title: "MailChimp"
            apiKey: "API klíč"
            storeId: "ID obchodu"
            list: "Seznam"
            info: "Pro správné fungování služby je třeba mít nastavený seznam. Pokud služba není nastavena, seznam se nastaví až po jejím nastavní."